<template>
	<div>
		<input :value="contact.firstName" @input="$emit('update:contact', {...contact, firstName: $event.target.value})">
		<Mother v-model:mother="contact.mother"/>
	</div>
</template>

<script>
import Mother from '@/components/Mother'

export default {
  name: 'Contact',
  components: {
	Mother
  },
  props: {
    contact: Object,
  },
  emit: ['update:contact'],
  methods: {
  }
}
</script>

