<template>
	<div>
		<input :value="mother.lastName" @input="$emit('update:mother', {...mother, lastName: $event.target.value})">
	</div>
</template>

<script>
export default {
  name: 'Mother',
  props: {
    mother: Object,
  },
  emit: ['update:mother'],
  methods: {
  }
}
</script>

