<template>
	<Contact v-model:contact="contact"/>
	{{ contact.firstName }}
</template>

<script>
import Contact from '@/components/Contact';

export default {
  name: 'App',
  components: {
	Contact
  },
  data() {
    return {
		contact: {
			firstName: "Linda",
			mother: {
				age: 33,
				lastName: "Lustig"
			}

        }
	}
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
